{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<h1 style="margin-left: 20px;">ALL Posts</h1>
<div class="container-fluid mt-3" id="newpostcontainer">
    <div class="border p-3 rounded">
        <label for="posttext" class="col-form-label">New Post:</label>
        <input type="text" class="form-control" id="posttext">
        <input class="btn btn-primary mt-1" type="submit" id="post" value="Post">
    </div>
</div>


<div class="container-fluid  mt-3 " id="postcontainer">

</div>

<div class="pagination mt-3 custom-pagination" id="pagenumbers">
    <a href="#" class="paginationlink" id="firstpage">First</a>
    <a href="#" class="paginationlink" id="previouspage">Previous</a>
    <span class="paginationlink" id="currentpage">1</span>
    <a href="#" class="paginationlink" id="nextpage">Next</a>
    <a href="#" class="paginationlink" id="lastpage" data-page="1">Last</a>

</div>


{% endblock %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}